NODE_ENV=development
PORT=3000
MONGODB_URI=mongodb://127.0.0.1:27017/i8now
JWT_ACCESS_SECRET=change-me-access-min-32-chars-long-secret
JWT_REFRESH_SECRET=change-me-refresh-min-32-chars-long-secret
OTP_PEPPER=change-me-otp-pepper
